* {
    box-sizing: border-box;
    padding: 10px;
    margin: auto, 30px;
}
body {
    text-align: center;
}
.page-title {
   color :purple;
}

p {
    padding: 20px;
    font-size: 22px;
}

.timer {
    float: right;
    padding-right: 40px;
    
}
#view-score{
    float: left;
    padding-left: 20px;
    display: inline-block;
   background-color: white;
   color: blueviolet;
   border-color: white;
   font-size: smaller;
}
footer {
    margin: 400px;
}

button {
    background-color: purple;
    color: white;
    padding: 15px 20px 15px 20px;
    font-size: 20px;
}
.startedBtn {
    text-align:center;
    color: white;
    background-color: purple;
}
.startedBtn:hover {
    text-align: center;
    font-size: 20px;
    color: white;
    background-color: lightpink;
    border-color: lightpink;
    padding: 15px 20px 15px 20px

}

.quiz-heading {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
