* {
    box-sizing: border-box;
    padding: 10px;
    margin: auto, 30px;
}
body {
    text-align: center;
    flex: auto;
}

.quiz-heading {
     text-align: center;
     flex: auto;
     display: inline-block;
}

p {
    padding: 20px;
    font-size: 22px;
}

#timer p{
    float: right;
    padding-right: 20px;
    display: inline-block;
    font-size: 17px;
    flex: auto;
    
    
}
#scores{
    float: left;
    padding-left: 20px;
    margin-top: 50px;
    display: inline-block;
   background-color: white;
   color: blueviolet;
   border-color: white;
   font-size: smaller;
}
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}  

button {
    background-color: purple;
    color: white;
    padding: 10px 15px 10px 15px;
    margin: 10px;
    font-size: 15px;
    flex: auto;
    display: inline-block;
}
#answersoption {
    display: block;

    padding: 10px 15px 10px 15px;
    flex: auto;
 

}
button:hover {
    text-align: center;
    font-size: 17px;
    color: white;
    background-color: lightpink;
    border-color: lightpink;
    padding: 10px 15px 10px 15px

}
section{
    max-width: 50%;
    margin: auto;
}

#achievedScore {
    border-top: 1px solid blue;
    color: blue;
    margin: 10px auto;
    font-size: 14px;
}
.gone {
    visibility:hidden;
} 



  .hidden {
    display:none;
}
  
@media (max-width: 690px) {
    #question2 {
        font-size: smaller;
    }
#question1 {
    font-size: smaller;
}
#questInfo{
    font-size: smaller;
}
#answersoption {
    padding: 5px 0px 5px 0px;
    margin: 5px;
  
}
button {
    padding: 5px 0px 5px 0px;
    margin: 5px;  
}
#scores {
    font-size: smaller;
    padding: 5px 0px 5px 0px;
}
#timer p{
   
    font-size: smaller;

}
#finish p {
    font-size: smaller; 
}
#name input {
    padding: 5px;
}
h1 {
    font-size: smaller;
}
button:hover {
    padding: 5px 0px 5px 0px;   
}

}